trimesh
scikit-learn
opencv-python
matplotlib
imageio
diffusers
einops
transformers
open-clip-torch
gradio
pytorch-lightning==1.9.1
omegaconf
triton
accelerate
objaverse
xatlas
mathutils==2.81.2
iopath==0.1.10
